.NewOrderPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr; /* Adjust column sizes */
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.NewOrderPage aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  align-items: center;
  height: 100%;
  margin: 1.5vmin 2vmin; /* Adjust margin */
}

.Logo {
  margin-bottom: 20px; /* Increase space below the Logo */
}

.CategoryListContainer {
  position: sticky;
  top: 0;
  width: 200px;
  overflow-y: auto;
  background-color: var(--white);
  border-right: 1px solid var(--gray);
  padding: 20px;
  z-index: 1;
}

.LinkContainer {
  margin-top: auto;
  margin-bottom: 20px;
}

.LinkContainer a {
  font-size: 1.2em;
  padding: 10px 20px; /* Adjust padding */
}

.UserLogOutContainer {
  margin-top: 20px;
  margin-bottom: 20px; /* Adjust margin */
}

.OrderDetail {
  padding: 20px; /* Add padding to OrderDetail */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.toggleButton {
  position: absolute;
  top: 10px; /* Adjust the top distance as needed */
  right: 10px; /* Adjust the right distance as needed */
  padding: 10px 20px; /* Adjust the padding as needed */
  font-size: 1.2em; /* Adjust the font size as needed */
}