.NewOrderPage {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.NewOrderPage aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  align-items: center;
  height: 100%;
  margin: 1.5vmin 2vmin;
}

.Logo {
  margin-bottom: 20px;
}

.CategoryListContainer {
  position: sticky;
  top: 0;
  width: 200px;
  overflow-y: auto;
  background-color: var(--white);
  border-right: 1px solid var(--gray);
  padding: 20px;
  z-index: 1;
}

.LinkContainer {
  margin-top: auto;
  margin-bottom: 20px;
}

.LinkContainer a {
  font-size: 1.2em;
  padding: 10px 20px;
}

.UserLogOutContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.OrderDetail {
  padding: 20px; 
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.toggleButton {
  position: fixed;
  top: 10px;
  right: 10px;
}
