// OrderList.module.scss

.OrderList {
    display: flex;
    flex-direction: column;
    gap: 2vmin; /* Spacing between order items */
  }
  
  .noOrders {
    font-size: 4vmin;
    color: #888;
    text-align: center;
  }
  