.UserLogOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1AB3A;
  padding: 2vmin;
  border-radius: 1vmin;
  border: 1px solid #D3C1AE;
}

.email {
  margin-top: 1vmin;
  font-size: 2.5vmin;
}

button {
  margin-top: 1vmin;
  padding: 1vmin 2vmin;
  font-size: 2.5vmin;
  background-color: #BB0000;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5vmin;
  cursor: pointer;
}

button:hover {
  background-color: #FF6347; /* Lighter red color on hover */
}
