// OrderListItem.module.scss

.OrderListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin;
    border: 1px solid #ccc;
    border-radius: 1vmin;
    cursor: pointer;
  }
  
  .selected {
    background-color: #F1AB3A; /* Background color when selected */
  }
  
  .align-rt {
    text-align: right;
  }
  
  .smaller {
    font-size: 2.5vmin;
    color: #888; /* Color for smaller text */
  }
  