.Logo {
  display: flex;
  align-items: center;
}

.Logo img {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Let the height adjust automatically */
  border-radius: 50%; /* Display the image as a circle */
  object-fit: cover; /* Ensure the image covers the entire circle */
  margin-right: 10px; /* Adjust the margin as needed */
}
