.Logo {
  font-size: 2em;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(to right, #bb0000, #bfb5af, #010101);
  -webkit-background-clip: text; /* Apply background-clip property for WebKit browsers */
  background-clip: text; /* Apply background-clip property for other browsers */
  display: inline-block; /* Ensure text flows inline */
}

.Logo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px;
}
