.OrderDetail {
  padding: 2vmin;
  border: 1px solid #ccc;
  border-radius: 1vmin;
  background-color: #fff;
  box-shadow: 0 2vmin 4vmin rgba(0, 0, 0, 0.1);
}


.sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4vmin;
  margin-bottom: 2vmin;
}

.lineItemContainer {
  overflow-y: auto; /* Scrollable container for line items */
  max-height: 60vmin; /* Limiting the height for scrolling */
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.5vmin;
  margin-top: 2vmin;
}

.right {
  text-align: right;
  flex: 1;
}

.hungry {
  text-align: center;
  font-size: 4vmin;
  color: #888;
}


.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total span:nth-child(2) {
  margin-right: 10px;
}
