.MenuListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmin;
  border-bottom: 0.1vmin solid #ccc;
}


.name {
  font-size: 3vmin; /* Adjusted name font size */
  margin-bottom: 1.5vmin; /* Increased margin below name */
}

.buy {
  display: flex;
  align-items: center;
}

.buy span {
  font-size: 3vmin; /* Adjusted price font size */
  margin-right: 2vmin; /* Increased margin to separate price from button */
}

button.btn-sm {
  font-size: 2.5vmin; /* Adjusted button font size */
}
