// MenuList.module.scss

.MenuList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vmin, 1fr)); /* Responsive grid columns */
    gap: 2vmin; /* Gap between menu items */
    padding: 2vmin;
  }
  
  @media screen and (max-width: 768px) {
    .MenuList {
      grid-template-columns: repeat(auto-fill, minmax(30vmin, 1fr)); /* Adjust columns for smaller screens */
    }
  }
  