.LineItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
.qty {
    display: flex;
    align-items: center;
}
  
.qty button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #bb0000; /* Main color */
    color: #ffffff; /* White color for text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.qty button:hover {
    background-color: #a30000; /* Darken main color on hover */
}
  
.extPrice {
    font-weight: bold;
    font-size: 14px;
}
.itemName {
    font-size: 12px;
    text-align: center;
  }
